@charset "UTF-8";
/*!
 * default.css Document
 */

// ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
// リセット/初期設定
// ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
html {}
html,
body {}
body,
div,
dl,dt,dd,
h1,h2,h3,h4,h5,h6,
pre,
form,
fieldset,
legend,
p,
ul,ol,li,
blockquote,
table,thead,tbody,tfoot,tr,th,td,
a,
address {
	margin:0;
	padding:0;
	word-break:break-all; // IE,safari独自（ただし、css3の仕様にはアリ）
	vertical-align:baseline;
	font-style:normal;
}
body {
	text-align:left;
	color:#000;
	font-style:normal;
	font-weight:normal;
	letter-spacing:0;
	background:#fff;
	text-decoration:none;
}
body,
pre,
button,
input,
select,
label,
textarea {
	font-size:13px;
	line-height:1.5; // 単位em削除 20100820
	vertical-align:baseline;
	margin:0;
}
body,
pre,
button,
input,
select,
label,
textarea {
	font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック','MS UI Gothic',sans-serif;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
ul,ol {
	margin-left:1.3em;
}
li {
	list-style-image:none;
	list-style-position:outside;
}
fieldset,
img {
	border-width:0;
	border-style:none;
}
img { // 画像縮小時の最適化
	-ms-interpolation-mode: bicubic; // IE7~
}
table {
	border-collapse:collapse;
	border-spacing:0px; // except IE6,7
	border:none;
}
th {
	text-align:center; // IE6,7
}
th,td {
	border:1px solid #ccc;
}
iframe {
	margin:0;
	padding:0;
	border-widht:0;
	border-style:none;
	width:100%;
}
div,
p,
td {
	//text-align:justify; // moz, webkit, opera
	//text-justify:distribute; // IE // css3
	//-ms-text-justify:distribute; // IE8
}
p,
td {
	text-align:justify; // moz, webkit, opera
	text-justify:distribute; // IE // css3
	-ms-text-justify:distribute; // IE8
}
input,
select,
label,
button {
	cursor:pointer;
	_cursor:auto; // IE6
}
input[type="text"],
input[type="email"],
input[type="password"] { // except IE6
	cursor:text;
}
// ********************
// @ html5
// ********************
// legacy browser, ie9以下に対応するには以下scriptが<head>内に必須
// <!--[if lt IE 9]>
// 	<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
// <![endif]-->
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display:block;
}
// ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
// IE用 リセット/初期設定
// ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
// ********************
// @ IE6
// ********************
.ie6 {
	body {}
	body,
	pre,
	label,
	select,
	textarea {
		font-family:'メイリオ',Meiryo,'MS UI Gothic';
	}
	input {
		line-height:1.0em;
	}
}
// ********************
// @ IE7
// ********************
.ie7 {
	body {}
	body,
	pre,
	label,
	select,
	textarea {
		font-family:'メイリオ',Meiryo,'MS UI Gothic';
	}
	.xpie input {
		line-height:1.0em;
	}
}
// ********************
// @ IE8
// ********************
.ie8 {
	body {}
	body,
	pre,
	label,
	select,
	textarea {
	}
	.xpie input {
		line-height:1.0em;
	}
}
// ********************
// @ IE9
// ********************
.ie9 {
	body {}
	body,
	pre,
	label,
	select,
	textarea {
	}
}
